COMPOSE_PROJECT_NAME=goetzlegal

WP_PORT=8080
WP_URL=http://localhost:8080
WP_TITLE="Goetz & Goetz"
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=admin
WP_ADMIN_EMAIL=info@goetzlegal.com

MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress
MYSQL_ROOT_PASSWORD=wordpress

SOURCE_URL=https://goetzlegal.com
FETCH_PROXY_URL=

# Kinsta deployment (MyKinsta > Site > Info)
PROD_URL=https://goetzlegal.com
KINSTA_SSH_USER=
KINSTA_SSH_HOST=
KINSTA_SSH_PORT=
KINSTA_SITE_PATH=
